/**
 * Basic stylesheet for the RHD Social Icons plugin by Roundhouse Designs
 **/

.rhd-social-icons-entries input {
	float: right;
}

ul.social-widget {
	list-style: none;
	padding: 0;
}

ul.social-widget li {
	display: inline-block;
}